
.infowindow {
    width: 200px;
    padding:0px;
}
.header {
    border-bottom: 2px solid gray;
}
.head1 {
    font-size: 16px;
    font-weight: bold;
    color: black;
}
.head2 {
    font-weight: bold;
    color: red;
    font-size: 14px;
}

.head3 {
    font-weight: bold;
    color: black;
    font-size: 12px;
}

.title {
    border-bottom: 1px solid gray;
    height: 30px;
    padding: 5px;
}
.content {
    border-bottom: 1px solid gray;
}
.vehicle-date {
    font-size: 10px;
}

.vehicletype {
    font-size: 14px;
    float: right;
    margin-top: 4px;
}
.allocated {
    color: red;
    font-weight: bold;
}

.available {
    color: green;
    font-weight: bold;
}

.planned {
    color: blue;
    font-weight: bold;
}
.footer {
    font-size: 10px;
}

.status {
    float: left;
    margin: 5px;
    font-weight: bold;
}
.history-txt {
    padding-top: 30px;
    /* padding-left: 15px; */
    float: right;
}
.row{
    margin:0px;
}