<div class="row page-container" style="margin:0px;background-color: #fafafa">

    <div class="row" style="background-color: #d3d3d3;margin: 0px;">
        <ul style="list-style:none;float:left;padding-left:0px;margin-bottom:0px">
            <li class="tab-li" [ngClass]="{'selected': toShowTab==1}" (click)="toShowTab=1">
                <h4><a [ngClass]="{'selected-a': toShowTab==1}" href="#">Yard Dashboard</a></h4>
            </li>
            <li class="tab-li" [ngClass]="{'selected': toShowTab==2}" (click)="toShowTab=2">
                <h4><a [ngClass]="{'selected-a': toShowTab==2}" href="#">Manage yard checks</a></h4>
            </li>
        </ul>
    </div>

    <!-- <button (click)="getStateTrailersStatus()">refresh</button> -->
    <div [ngSwitch]="toShowTab" style="margin-top:10px">
        <!-- <app-test *ngSwitchCase=1 [config]="ycConfig"></app-test> -->
        <app-yard-dash  *ngSwitchCase=1 ></app-yard-dash>
        <app-yard-check *ngSwitchCase=2 ></app-yard-check>
    </div>
</div>