<div class="tabContainer">
    <div class="col-md-12 page-heading" style="padding:0px;margin-bottom: 20px;">
        <button style="height:40px;background: #062a53" type="button" class="pm-addBut pull-left" (click)="goToHome()">Home </button>
        <div class="pull-left" style="padding:10px">
            <b>Admin panel</b>
        </div>
    </div>
    <div style="height:280px">
        <div class="col-md-3">
            <div class="container" style="border: 1px solid #dedede;padding:20px">
                <label class="kpiLable">Upload Pool Details </label>
                <div class="uploadCont">
                    <div style="width:100%">
                        <input type="text" placeholder="Choose a file" style="width:75%" [(ngModel)]="poolFileName" readonly/>
                        <input #poolFileBut type="file" *ngIf="resetPoolFileSelection" class="hidden" id="poolFileBut" (change)="getFileToUpload($event,1)" accept=".csv" />
                        <button class="pm-addBut" style="margin-top:10px;width:23%;padding:0px" (click)="triggerUpload(1)">Browse</button>
                    </div>
                    <button class="pm-addBut" style="margin-top:10px" (click)="uploadFile(1)">Upload</button>
                    <button class="pm-addBut" style="margin-left: 8px;" (click)="download(1)">Download template</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="container" style="border: 1px solid #dedede;padding:20px">
                <label class="kpiLable">Upload CSR Details </label>
                <div class="uploadCont">
                    <div style="width:100%">
                        <input type="text" placeholder="Choose a file" style="width:75%" [(ngModel)]="csrFileName" readonly/>
                        <input #csrFileBut type="file" class="hidden" id="csrFileBut" (change)="getFileToUpload($event,2)" accept=".csv" />
                        <button class="pm-addBut" style="margin-top:10px;width:23%;padding:0px" (click)="triggerUpload(2)">Browse</button>
                    </div>
                    <button class="pm-addBut" style="margin-top:10px" (click)="uploadFile(2)">Upload</button>
                    <button class="pm-addBut" style="margin-left: 8px;"(click)="download(2)">Download template</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="container" style="border: 1px solid #dedede;padding:20px">
                <label class="kpiLable">Upload Planner Details </label>
                <div class="uploadCont">
                    <div style="width:100%">
                        <input type="text" placeholder="Choose a file" style="width:75%" [(ngModel)]="plannerFileName" readonly/>
                        <input #plannerFileBut type="file" class="hidden" id="plannerFileBut" (change)="getFileToUpload($event,3)" accept=".csv" />
                        <button class="pm-addBut" style="margin-top:10px;width:23%;padding:0px" (click)="triggerUpload(3)">Browse</button>
                    </div>
                    <button class="pm-addBut" style="margin-top:10px" (click)="uploadFile(3)">Upload</button>
                    <button class="pm-addBut" style="margin-left: 8px;" (click)="download(3)">Download template</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container" style="border: 1px solid #dedede;padding:20px">
                <label class="kpiLable">Upload Trade-In Trailers </label>
                <div class="uploadCont">
                    <div style="width:100%">
                        <input type="text" placeholder="Choose a file" style="width:75%" [(ngModel)]="tradeInFileName" readonly/>
                        <input #tradeInFileBut type="file" class="hidden" id="tradeInFileBut" (change)="getFileToUpload($event,4)" accept=".csv"
                        />
                        <button class="pm-addBut" style="margin-top:10px;width:23%;padding:0px" (click)="triggerUpload(4)">Browse</button>
                    </div>
                    <button class="pm-addBut" style="margin-top:10px" (click)="uploadFile(4)">Upload</button>
                    <button class="pm-addBut" style="margin-left: 8px;" (click)="download(4)">Download template</button>
                </div>
            </div>
        </div>
    </div>
    <!-- note -->
    <div class="container" style="font-size: 12px">
        <br>
        <p>
            <b>* Note:</b>
        </p>
        <ul>
            <li>
                <p>Please make sure upload file is same as given template.</p>
            </li>
            <li>
                <p>Template can be downloaded using 'Download Template' button.</p>
            </li>
        </ul>
    </div>
    <!-- result dialog box -->
    <div class="modal fade" id="result" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header page-heading" style="padding:5px">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{action.heading}}</h4>
                </div>
                <div class="modal-body">
                    <div *ngIf="action.processed">
                        <p>{{action.body}}
                            <a *ngIf="action.details!=''" href="#details" data-toggle="collapse">Details</a>
                        </p>
                        <div id="details" class="collapse">
                            <p [innerHTML]="action.details" style="word-wrap: break-word"></p>
                        </div>
                    </div>
                    <div *ngIf="!action.processed">
                        <div class="histLoader">
                            <img src="../../assets/images/loader.gif" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer page-footer">
                    <button type="button" class="pm-addBut" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>