h1 {
    font-size: 300%;
    color: #34495e;
}

.selected {
    color: white !important;
    background: #d2232a;
}

.selected-a{
    color: white !important;
    cursor: default;
}
.tab-li-last {
    float: left;
    padding-left: 10px;
    padding-right: 10px
}
.tab-li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 2px solid #dedede;
}

.tabContainer {
    padding-top: 10px;
    padding-bottom:20px;
}

.uploadCont{
    width: 100%;
    /* border: 1px solid #dedede; */
    /* height: 150px; */
    margin-bottom: 20px;
    /* padding:10px */
}

.pm-addBut {
    border: none;
    background: #d2232a;
    color: white;
    height: 30px;
    padding: 0px 15px;
}

.kpiLable{
    font-size: 23px;
    color: #062A53;
}
.hidden{
    display: none !important;
}

.close{
    opacity:1;
    color:white;
}

.histLoader{
    text-align: center;
    /* padding: 20px; */
    /* border: 1px solid silver; */
    /* border-top: none */
}