.loginFields{
    width:425px;
    border-radius: 5px;
    height: 40px;
    border: 1px solid silver;
    padding-left: 10px;
}

.loginBut{
    height: 40px;
    border: none;
    width: 425px;
    border-radius: 5px;
    background: #d2232a;
    color: white;
}

.loginCont{
    width: 450px;
    border: 1px solid #dedede;
    background-color: #fff;
    box-shadow: 3px 3px 35px #dedede;
}