<!-- Progress image -->

<div style="text-align: center" [ngSwitch]="page">
    <img style="height:80px" *ngSwitchCase=0 src="../../assets/images/wizard/order.png" />
    <img style="height:80px" *ngSwitchCase=1 src="../../assets/images/wizard/truck.png" />
    <img style="height:80px" *ngSwitchCase=2 src="../../assets/images/wizard/trailer.png" />
    <img style="height:80px" *ngSwitchCase=3 src="../../assets/images/wizard/summary.png" /><br>
</div>
<br>
<div [ngSwitch]="page">
    <!-- Order selection div -->
    <div *ngSwitchCase=0>
        <div class="row page-container" style="margin:0px">

            <div class="col-md-12 page-heading">
                <div style="padding:10px" class="pull-left"><b>List of orders</b></div>
                <button class="pull-right toggleBut" [disabled]="selectedOrder.orderNumber==-1" type="button" value="encode" (click)="goToTruck()">Next</button>
            </div><br />


            <div class="col-md-12 page-body">
                <div class="filter-container">
                    <div  class="pull-left">
                        <div class="pull-left" style="padding:5px 15px 5px 5px;background-color: #d3d3d3">
                            <div class="dropdown pull-left pm-select-cont">
                                <input class="filters dropdown-toggle" type="button" data-toggle="dropdown" value={{selectedOrStatus.lable}} />
                                <span class="caret"></span>
                                <div class="dropdown-menu no-padding sel-dd">
                                    <ul class="sel-dd-ul">
                                        <li *ngFor="let item of orStatusList" (click)="selectOrStatus(item);orderMasterAndFilter()" style="cursor: pointer">
                                            {{item.lable}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dropdown pull-left pm-select-cont" style="margin-left:10px;">
                                <input class="filters dropdown-toggle" type="button" data-toggle="dropdown" value={{selectedCmp.lable}} />
                                <span class="caret"></span>
                                <div class="dropdown-menu no-padding sel-dd">

                                    <ul class="sel-dd-ul">
                                        <li *ngFor="let item of cmpList" (click)="selectCmp(item);orderMasterAndFilter()" style="cursor: pointer">
                                            {{item.lable}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="pull-left" style="padding:5px;">
                            <span (keyup.enter)="searchByomID()">
                                <input  class="ctg-textbox pull-left" style="margin-left:10px;" type="text" placeholder="Order ID \ Movement no." [(ngModel)]="omID" (ngModelChange)="orderToggleSearch(1)"  />
                            </span>
                            <!--<button class="pull-left" type="button" (click)="searchByID()">search</button>-->
                            <span class="pull-left" style="margin-left:15px;padding-top:5px">Or</span>
                            <span (keyup.enter)="filterOrderByLocation()">
                                <input class="ctg-textbox pull-left" type="text" placeholder="By location" (ngModelChange)="orderToggleSearch(2)"
                                [(ngModel)]="orderBylocation" style="margin-left:10px;width:230px"/>
                            </span>


                            <!-- <button class="pull-left pm-addBut" type="button" style="margin-left:15px" (click)="search()">Search</button> -->
                        </div>
                    </div>
                    <button class="pull-right resetBut" type="button" value="encode" (click)="resetOrderPage()" data-toggle="tooltip" title="Reset"><img src="../../assets/images/markers/refresh.png" /></button>
                </div>
                <div style="padding-top:15px;">
                    <div>
                        <table class="app-table table-striped table-hover table-bordered1 table table-fixed">
                            <thead style="font-size: 12px">
                                <tr bgcolor="#f7f8fc" class="app-table-tr full">
                                    <ng-container *ngFor="let con of orders.column">
                                        <th [ngStyle]="{'width':con.width}" style="text-align:center;">{{con.name}}</th>
                                    </ng-container>
                                </tr>
                            </thead>
                            <tbody id="tgBody" *ngIf="OrderDetailsResp && orderList.length!=0 " style="font-size: 12px;border: 1px solid silver;border-top: none;"
                                (scroll)="orderTableScrolled(this)">
                                <ng-container *ngFor="let i=index;let item of orderList">
                                    <tr class="full" *ngIf="i<oRowCount" (click)="orderSelected(item)" [ngClass]="{'selected': selectedOrder.orderNumber==item.orderNumber}">

                                        <td style="text-align:center;width:10%">
                                            <span>{{item.orderNumber}}-{{item.orderCompany}}-{{item.orderStatus}}</span>
                                        </td>
                                        <td style="text-align:center;width:10%">
                                            <span>{{item.movementNumber}}</span>
                                        </td>
                                        <td style="text-align:center;width:10%">
                                            <span>{{item.orderRefNumber}}</span>
                                        </td>
                                        <td style="text-align:center;width:10%">
                                            <span>{{item.orderBillTo}}</span>
                                        </td>
                                        <td style="text-align:center;width:10%">
                                            <span>{{item.orderOrginCity}},{{item.orderOrginState}}</span>
                                        </td>
                                        <td style="text-align:center;width:10%">
                                            <span>{{item.orderDestCity}},{{item.orderDestState}}</span>
                                        </td>
                                        <td style="text-align:center;width:10%">
                                            <span>TBC</span>
                                        </td>
                                        <td style="text-align:center;width:10%">
                                            <span>{{formatDateTime(item.orderStartDate)}}</span>
                                        </td>
                                        <td style="text-align:center;width:10%">
                                            <span>TBC</span>
                                        </td>

                                        <td style="text-align:center;width:10%" data-toggle="tooltip" title={{item.orderRemark}}>
                                            <span>{{item.orderRemark.substring(0,10)}}..</span>
                                        </td>
                                        
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <div style="text-align:center;border:1px solid silver;padding:10px;border-top:none" *ngIf="OrderDetailsResp && orderList.length==0 ">No data found</div>
                        <!--<div *ngIf="trailerStatusResp" style="padding-top: 10px;">1 - {{gRowCount}} out of {{allTraillerSubSet.length}} record(s) found</div>-->
                        <div *ngIf="OrderDetailsResp" style="padding-top: 10px;">{{orderList.length}} record(s) found</div>
                        <div *ngIf="!OrderDetailsResp" class="histLoader"><img src="../../assets/images/loader.gif" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Truck selection div -->
    <div *ngSwitchCase=1>
        <div class="row page-container" style="margin:0px">

            <div class="col-md-12 page-heading">
                <div style="padding:10px" class="pull-left"><b>List of Trucks</b></div>
                <button class="pull-right toggleBut" [disabled]="selectedTruck.number==-1" type="button" value="encode" (click)="goToTrailer()">Next</button>
                <button style="margin-right:2px"  class="pull-right toggleBut" type="button" value="encode" (click)="goToOrder()">Back</button>
            </div><br />


            <div class="col-md-12 page-body">
                <div class="filter-container">
                    <div style="padding:5px;" class="pull-left">
                        <span (keyup.enter)="searchByTruckID()"><input  class="ctg-textbox pull-left" type="text" placeholder="Truck ID" [(ngModel)]="truckID"
                    (ngModelChange)="truckToggleSearch(1)"  /></span>
                        <!--<button class="pull-left" type="button" (click)="searchByID()">search</button>-->
                        <span class="pull-left" style="margin-left:15px;padding-top:5px">Or</span>
                        <input class="ctg-textbox pull-left" type="text" placeholder="By location" id="ctgGeoCode" (ngModelChange)="truckToggleSearch(2)"
                            [(ngModel)]="truckBylocation" style="margin-left:10px;width:230px" />

                        <div class="dropdown pull-left pm-select-cont" style="margin-left:10px;">
                            <input class="filters dropdown-toggle" type="button" data-toggle="dropdown" value={{selectedMiles.lable}} 
                            [disabled]="truckBylocation.length ==0 "/>
                            <span class="caret"></span>
                            <div class="dropdown-menu no-padding sel-dd">

                                <ul class="sel-dd-ul">
                                    <li *ngFor="let item of milesList" (click)="selectMiles(item);" style="cursor: pointer">
                                        {{item.lable}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button class="pull-left pm-addBut" type="button" style="margin-left:15px" (click)="search()">Search</button>
                        <!--<button class="pull-right resetBut" type="button" value="encode" (click)="f.geocodeAddress()"><img src="../../assets/images/markers/refresh.png" /></button>-->
                    </div>
                    <button class="pull-right resetBut" type="button" value="encode" (click)="resetTruckPage()" data-toggle="tooltip" title="Reset"><img src="../../assets/images/markers/refresh.png" /></button>
                </div>
                <div style="padding-top:15px;">
                    <div>
                        <table class="app-table table-striped table-hover table-bordered1 table table-fixed">
                            <thead style="font-size: 12px">
                                <tr bgcolor="#f7f8fc" class="app-table-tr full">
                                    <ng-container *ngFor="let con of trucks.column">
                                        <th [ngStyle]="{'width':con.width}" style="text-align:center;">{{con.name}}</th>
                                    </ng-container>
                                </tr>
                            </thead>
                            <tbody id="tgBody" *ngIf="trucksDetailsResp && truckList.length!=0 " style="font-size: 12px;border: 1px solid silver;border-top: none;"
                                (scroll)="trucktableScrolled(this)">
                                <ng-container *ngFor="let i=index;let item of truckList">
                                    <tr class="full" *ngIf="i<truRowCount" (click)="truckSelected(item)" [ngClass]="{'selected': selectedTruck.number==item.number}">

                                        <td style="text-align:center;width:10%">
                                            <span>{{item.number}}</span>
                                        </td>
                                        <td style="text-align:center;width:10%">
                                            <span>{{item.company}}</span>
                                        </td>
                                        <td style="text-align:center;width:10%">
                                            <span>{{item.make}}</span>
                                        </td>
                                        <td style="text-align:center;width:10%">
                                            <span>{{item.model}}</span>
                                        </td>
                                        <td style="text-align:center;width:15%">
                                            <span>{{item.year}}</span>
                                        </td>
                                        <td style="text-align:center;width:15%">
                                            <span>{{item.type}}</span>
                                        </td>
                                        <td style="text-align:center;width:15%">
                                            <span>{{item.distance}}</span>
                                        </td>

                                        <td style="text-align:center;width:15%">
                                            <span>{{item.location.landmark}}</span>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <div style="text-align:center;border:1px solid silver;padding:10px;border-top:none" *ngIf="trucksDetailsResp && truckList.length==0 ">No data found</div>
                        <!--<div *ngIf="trailerStatusResp" style="padding-top: 10px;">1 - {{gRowCount}} out of {{allTraillerSubSet.length}} record(s) found</div>-->
                        <div *ngIf="trucksDetailsResp" style="padding-top: 10px;">{{truckList.length}} record(s) found</div>
                        <div *ngIf="!trucksDetailsResp" class="histLoader"><img src="../../assets/images/loader.gif" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Trailer selection div -->
    <div *ngSwitchCase=2>
        <div class="row page-container" style="margin:0px">

            <div class="col-md-12 page-heading">
                <div style="padding:10px" class="pull-left"><b>List of Trailer</b></div>
                <button class="pull-right toggleBut" type="button" value="encode" (click)="goToSummary()">Next</button>
                <button style="margin-right:2px" class="pull-right toggleBut" type="button" value="encode" (click)="goToTruck()">Back</button>
            </div><br />


            <div class="col-md-12 page-body">
                <div class="filter-container">
                    <div style="padding:5px;" class="pull-left">
                        <span (keyup.enter)="searchByTrailerID()"><input  class="ctg-textbox pull-left" type="text" placeholder="Trailer ID" [(ngModel)]="trailerID"
                    (ngModelChange)="trailerToggleSearch(1)"  /></span>
                        <!--<button class="pull-left" type="button" (click)="searchByID()">search</button>-->
                        <span class="pull-left" style="margin-left:15px;padding-top:5px">Or</span>
                        <input class="ctg-textbox pull-left" type="text" placeholder="By location"  (ngModelChange)="trailerToggleSearch(2)"
                            [(ngModel)]="trailerBylocation" style="margin-left:10px;width:230px" value="bylocation" />

                        <div class="dropdown pull-left pm-select-cont" style="margin-left:10px;">
                            <input class="filters dropdown-toggle" type="button" data-toggle="dropdown" value={{selectedTrailerType.lable}} />
                            <span class="caret"></span>
                            <div class="dropdown-menu no-padding sel-dd">

                                <ul class="sel-dd-ul">
                                    <li *ngFor="let item of trailerTypeList" (click)="selectTrailerType(item);filterTrailerByType()" style="cursor: pointer">
                                        {{item.lable}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button class="pull-left pm-addBut" type="button" style="margin-left:15px" (click)="search()">Search</button>
                        <!--<button class="pull-right resetBut" type="button" value="encode" (click)="f.geocodeAddress()"><img src="../../assets/images/markers/refresh.png" /></button>-->
                    </div>
                    <button class="pull-right resetBut" type="button" value="encode" (click)="resetTrailerPage()" data-toggle="tooltip" title="Reset"><img src="../../assets/images/markers/refresh.png" /></button>
                </div>
                <div style="padding-top:15px;">
                    <div>
                        <allotrgmap   [trailers]="trailerList" [(item)]="trailerID" [(loc)]="trailerBylocation" [(config)]="trMapConfig"></allotrgmap>
                    </div>
                    <div>
                        <table class="app-table table-striped table-hover table-bordered1 table table-fixed">
                            <thead style="font-size: 12px">
                                <tr bgcolor="#f7f8fc" class="app-table-tr full">
                                    <ng-container *ngFor="let con of trailers.column">
                                        <th [ngStyle]="{'width':con.width}" style="text-align:center;">{{con.name}}</th>
                                    </ng-container>
                                </tr>
                            </thead>
                            <tbody id="tgBody" *ngIf="trailerDetailsResp && trailerList.length!=0 " style="font-size: 12px;border: 1px solid silver;border-top: none;"
                                (scroll)="trTableScrolled(this)">
                                <ng-container *ngFor="let i=index;let item of trailerList">
                                    <tr class="full" *ngIf="i<traRowCount" (click)="trailerSelected(item)" [ngClass]="{'selected': selectedTrailer.trailerID==item.trailerID}">

                                        <td style="text-align:center;width:16%">
                                            <span>{{item.trailerID}}</span>
                                        </td>
                                        <td style="text-align:center;width:14%">
                                            <span>{{item.trailerName}}</span>
                                        </td>
                                        <td style="text-align:center;width:14%">
                                            <span>{{item.trailerType}}</span>
                                        </td>
                                        <td style="text-align:center;width:14%">
                                            <span>{{item.location}}</span>
                                        </td>
                                        <td style="text-align:center;width:14%">
                                            <span>{{item.distance}}</span>
                                        </td>
                                        <td style="text-align:center;width:14%">
                                            <span>{{item.trailerStatus}}</span>
                                        </td>
                                        <td style="text-align:center;width:14%">
                                            <span>{{item.lastMovementDate}}</span>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <div style="text-align:center;border:1px solid silver;padding:10px;border-top:none" *ngIf="trailerDetailsResp && trailerList.length==0 ">No data found</div>
                        <!--<div *ngIf="trailerStatusResp" style="padding-top: 10px;">1 - {{gRowCount}} out of {{allTraillerSubSet.length}} record(s) found</div>-->
                        <div *ngIf="trailerDetailsResp" style="padding-top: 10px;">{{trailerList.length}} record(s) found</div>
                        <div *ngIf="!trailerDetailsResp" class="histLoader"><img src="../../assets/images/loader.gif" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Summary div -->
    <div *ngSwitchCase=3>
        <div class="row page-container" style="margin:0px">

            <div class="col-md-12 page-heading">
                <div style="padding:10px" class="pull-left"><b>Summary details</b></div>
                <button class="pull-right toggleBut" type="button" value="encode" (click)="toggleMG()">Submit</button>
                <button style="margin-right:2px" class="pull-right toggleBut" type="button" value="encode" (click)="goToTrailer()">Back</button>
            </div><br />


            <div class="col-md-12 page-body">
                <div class="col-md-4" style="border-right: 1px solid #ededed;">
                    <div class="filter-container">
                        <div style="padding:5px;" class="pull-left">
                            <span class="pull-left" style="margin-left:15px;padding-top:5px">Order ID: {{selectedOrder.orderNumber}}</span>
                        </div>
                    </div>
                    <div style="padding-top:15px;">
                        <div>
                            <span>Bill to name</span><br>
                            <span>Bill to name</span>
                        </div>
                        <div>
                            <span>Order city</span><br>
                            <span>Bill to name</span>
                        </div>
                        <div>
                            <span>Destination city</span><br>
                            <span>Bill to name</span>
                        </div>

                    </div>

                </div>
                <div class="col-md-4" style="border-right: 1px solid #ededed;">
                    <div class="filter-container">
                        <div style="padding:5px;" class="pull-left">
                            <span class="pull-left" style="margin-left:15px;padding-top:5px">Truck ID: </span>
                        </div>
                    </div>
                    <div style="padding-top:15px;">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="filter-container">
                        <div style="padding:5px;" class="pull-left">
                            <span class="pull-left" style="margin-left:15px;padding-top:5px">Trailer ID: </span>
                        </div>
                    </div>
                    <div style="padding-top:15px;">

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>