<div>
  <!-- <div style="height:300px;width:500px;">
    <canvas baseChart
          width="4" height="1"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [colors]="colorsOPs"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
  </div> -->
  <div class="row">
    <div class="col-md-6" style="height:380px;">
      <div style="border:1px solid silver">
          <div style="text-align: left;padding-top: 15px;padding-left: 15px;">
          <label style="font-size: 25px;font-weight: normal;">Planned vs Actual</label>
        </div>
        <div *ngIf="OrderStatsResp">
          <nvd3 [options]="plnVsActoptions" [data]="plnVsActdata"></nvd3>
        </div>
        <div *ngIf="!OrderStatsResp" class="histLoader"><img src="../../assets/images/loader.gif" /></div>
      </div>
    </div>

    <div class="col-md-6" style="height:380px;">
      <div style="border:1px solid silver">
          <div style="text-align: left;padding-top: 15px;padding-left: 15px;">
          <label style="font-size: 25px;font-weight: normal;">Orders in next 7 days </label>
        </div>
        <div *ngIf="FutureAVLOrdersResp">
          <nvd3 [options]="futAvlOptions" [data]="futAvlData"></nvd3>
        </div>
        <div *ngIf="!FutureAVLOrdersResp" class="histLoader"><img src="../../assets/images/loader.gif" /></div>
      </div>
    </div>
  </div>

  <div *ngIf="toShowFutAvlTable">
    <table class="app-table table-striped table-hover table-bordered1 table table-fixed">
      <thead style="font-size: 12px">
        <tr bgcolor="#f7f8fc" class="app-table-tr full">
          <ng-container *ngFor="let con of orders.column">
            <th [ngStyle]="{'width':con.width}" style="text-align:center;">{{con.name}}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody id="tgBody" *ngIf="allTrailler.length!=0 " style="font-size: 12px;border: 1px solid silver;border-top: none;" (scroll)="tableScrolled(this)">
        <ng-container *ngFor="let i=index;let item of allTrailler">
          <tr class="full" *ngIf="i<gRowCount">

            <td style="text-align:center;width:10%">
              <!-- <span>{{item.orderNumber}}-{{item.orderCompany}}-{{item.orderStatus}}</span> -->
              <span>{{item.orderNumber}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <a (click)="showPlannedOrder(item)" *ngIf="item.orderStatus=='PLN'"><span>{{item.movementNumber}}</span></a>
              <span *ngIf="item.orderStatus!='PLN'">{{item.movementNumber}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.orderRefNumber}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.orderBillTo}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.orderOrginCity}},{{item.orderOrginState}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.orderDestCity}},{{item.orderDestState}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.orderOrginPoint}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.orderStartDate}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.orderCompleteDate}}</span>
            </td>

            <td style="text-align:center;width:10%" data-toggle="tooltip" title={{item.orderRemark}}>
              <span>{{item.orderRemark}}</span>
            </td>

          </tr>
        </ng-container>
      </tbody>
    </table>
    <div style="text-align:center;border:1px solid silver;padding:10px;border-top:none" *ngIf="allTrailler.length==0 ">No data found</div>
    <!--<div *ngIf="trailerStatusResp" style="padding-top: 10px;">1 - {{gRowCount}} out of {{allTrailler.length}} record(s) found</div>-->
    <div style="padding-top: 10px;">{{allTrailler.length}} record(s) found</div>
  </div>

  <div *ngIf="toShowPlnVsActNAPTable">
    <table class="app-table table-striped table-hover table-bordered1 table table-fixed">
      <thead style="font-size: 12px">
        <tr bgcolor="#f7f8fc" class="app-table-tr full">
          <ng-container *ngFor="let con of plnVsActGrid.column">
            <th [ngStyle]="{'width':con.width}" style="text-align:center;">{{con.name}}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody id="tgBody" *ngIf="allTrailler.length!=0 " style="font-size: 12px;border: 1px solid silver;border-top: none;" (scroll)="tableScrolled(this)">
        <ng-container *ngFor="let i=index;let item of allTrailler">
          <tr class="full" *ngIf="i<gRowCount">
            <td style="text-align:center;width:10%">
              <span>{{item.orderID}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.movementNumber}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.orderStartDate}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.orderCompletionDate}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.orderOriginCityState}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.orderDestinationCityState}}</span>
            </td>
            <td style="text-align:center;width:10%">
                <span>{{item.orderOriginPoint}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.tMSTrailerID}}</span>
            </td>
            <td style="text-align:center;width:10%">
                <span>{{item.tMWOrderTrailerID}}</span>
              </td>
            <td style="text-align:center;width:10%" data-toggle="tooltip" title={{item.orderRemark}}>
                <button class="histBut"  style="cursor: pointer" data-toggle="tooltip" title="Sync"><img src="../../assets/images/markers/data-sync.png" /></button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div style="text-align:center;border:1px solid silver;padding:10px;border-top:none" *ngIf="allTrailler.length==0 ">No data found</div>
    <!--<div *ngIf="trailerStatusResp" style="padding-top: 10px;">1 - {{gRowCount}} out of {{allTrailler.length}} record(s) found</div>-->
    <div style="padding-top: 10px;">{{allTrailler.length}} record(s) found</div>
  </div>

  <div *ngIf="toShowPlnVsActTable">
    <table class="app-table table-striped table-hover table-bordered1 table table-fixed">
      <thead style="font-size: 12px">
        <tr bgcolor="#f7f8fc" class="app-table-tr full">
          <ng-container *ngFor="let con of ob.column">
            <th [ngStyle]="{'width':con.width}" style="text-align:center;">{{con.name}}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody id="tgBody" *ngIf="allTrailler.length!=0 " style="font-size: 12px;border: 1px solid silver;border-top: none;" (scroll)="tableScrolled(this)">
        <ng-container *ngFor="let i=index;let item of allTrailler">
          <tr class="full" *ngIf="i<gRowCount">
            <td style="text-align:center;width:11%">
              <span>{{item.orderID}}</span>
            </td>
            <td style="text-align:center;width:11%">
              <span>{{item.movementNumber}}</span>
            </td>
            <td style="text-align:center;width:11%">
              <span>{{item.orderStartDate}}</span>
            </td>
            <td style="text-align:center;width:11%">
              <span>{{item.orderCompletionDate}}</span>
            </td>
            <td style="text-align:center;width:11%">
              <span>{{item.orderOriginCityState}}</span>
            </td>
            <td style="text-align:center;width:11%">
              <span>{{item.orderDestinationCityState}}</span>
            </td>
            <td style="text-align:center;width:11%">
                <span>{{item.orderOriginPoint}}</span>
            </td>
            <td style="text-align:center;width:11%">
              <span>{{item.tMSTrailerID}}</span>
            </td>
            <td style="text-align:center;width:12%">
                <span>{{item.tMWOrderTrailerID}}</span>
              </td>
            
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div style="text-align:center;border:1px solid silver;padding:10px;border-top:none" *ngIf="allTrailler.length==0 ">No data found</div>
    <!--<div *ngIf="trailerStatusResp" style="padding-top: 10px;">1 - {{gRowCount}} out of {{allTrailler.length}} record(s) found</div>-->
    <div style="padding-top: 10px;">{{allTrailler.length}} record(s) found</div>
  </div>
</div>