<!-- <header>head</header>
<div class="container">
    <div [ngSwitch]="toShowTab">
        <mainTabs *ngSwitchCase=2></mainTabs>
        <app-login *ngSwitchCase=1 [config]="loginConfig" (configChange)="login()"></app-login>
    </div>
</div>
<footer1></footer1> -->

<div *ngIf="toShowTab==2">
    <header [config]="headConfig" (configChange)="userMenuSelect()">head</header>
    <div class="container">
        <div>
            <mainTabs *ngIf="!toShowAdmin"></mainTabs>
            <app-admin-page [config]="adminConfig" *ngIf="toShowAdmin" (configChange)="adminEvent()"></app-admin-page>
        </div>
    </div>
    <footer1></footer1>
</div>
<div *ngIf="toShowTab==1">
    <app-login [config]="loginConfig" (configChange)="login()"></app-login>
    <footer1></footer1>
</div>