<agm-map 
         [latitude]="lat"
         [longitude]="lng" 
         [zoom]="zoom"
         [scrollwheel]="true"
         [fullscreenControl]="fullscreenControl"
         [streetViewControl]="streetViewControl"
         [mapTypeControl]="true"
         [minZoom]="4"
         [usePanning]="true"
         (mapClick)="mapClicked()">
    <agm-marker *ngFor="let point of config" [latitude]="point.latitude" [longitude]="point.longitude" [title]="point.eventDateTime"
    ></agm-marker>
    <!-- <agm-marker *ngFor="let point of config" [latitude]="point.latitude" [longitude]="point.longitude"
                [iconUrl]="point.icon"
                [openInfoWindow]="true"
                (markerClick)="clickedMarker(point.label, infoWindow, i)"
                (mouseOver)="toggleIW(infoWindow)">
    </agm-marker> -->
</agm-map>
