<div class="page-container">
    <div class="col-md-12 page-heading" style="padding:0px"> 
        <div class="pull-left" style="padding:10px" *ngIf="showManageBox"><b> Manage CSR & PLANNER</b></div>
        <div class="pull-left" style="padding:10px" *ngIf="!showManageBox"><b>Pool Variance Dashboard</b></div>
        <button *ngIf="showManageBox" style="height:40px;background: #062a53" type="button" class="pm-addBut pull-right" (click)="backToPool()">Back to pool </button>
    </div><br />
    <div class="page-body">
        <div class="row">
            <div *ngIf="!showManageBox" class="col-md-12">
                <div style="background: #ededed;height:40px">
                   
                    <button class="pull-right resetBut" type="button" value="encode" (click)="reset()" data-toggle="tooltip" title="Reset"><img src="../../assets/images/markers/refresh.png" /></button>
                    <div class="pull-left" style="padding:5px">
                    <div class="dropdown pull-left pm-select-cont" style="width:auto;">
                        <input class="filters dropdown-toggle" type="button" data-toggle="dropdown" value={{selectedVarience.lable}}/>
                        <button class="caretBut" data-toggle="dropdown"><span class="caret pointer" ></span></button>
                        <div class="dropdown-menu no-padding sel-dd">
                            <ul class="sel-dd-ul">
                                <li *ngFor="let item of varianceList" (click)="selectVarience(item)" class="pointer"><label class="lblLI">{{item.lable}}</label></li>
                            </ul>
                        </div>
                    </div>

                    <div class="dropdown pull-left pm-select-cont" style="margin-left:10px;">
                        <input class="filters dropdown-toggle" type="button" data-toggle="dropdown" (click)="restoreccList()" value={{ccSFlabel}}
                        />
                        <button class="caretBut" data-toggle="dropdown"><span class="caret pointer" ></span></button>
                        <div class="dropdown-menu no-padding mulSel-dd">
                            <div class="input-group">
                                <input type="text" class="form-control search-box" placeholder="Search" [(ngModel)]="ccFil">
                                <div class="input-group-btn">
                                    <button class="btn btn-default search-box" type="submit">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div style="padding:5px 0px">
                                <input class="pull-left pu-selAll" type="button" (click)="ccCheckAllFun()" value="Select All" />
                                <input class="pull-right pu-selAll" type="button" (click)="ccClearAllFun()" value="Clear All" />
                            </div>
                            <form>
                                <table class="ddTable">
                                    <tbody *ngIf="allCcRecev" class="ddtbody">
                                        <tr *ngFor="let i=index;let item of allCC|filterC:ccFil:'cmpName'" class="pointer">
                                            <td style="vertical-align:top"><input class="pull-left inpLI" type="checkbox" id="cc_{{i}}" name="cc_{{i}}"
                                                    value="" [(ngModel)]="item.isSelected" (change)="ccCheckEvent($event.target.checked,item.cmpName)"
                                                /></td>
                                            <td class="full"><label class="lblLI" for="cc_{{i}}">{{item.cmpName}}</label></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div *ngIf="!allCcRecev" class="loader" style="border:none;"><img style="width: 34px;height: 34px;" src="../../assets/images/loader.gif" /></div>
                            </form>
                            <div class="div-center">
                                <input type="button" class="pm-addBut pm-whiteBut pull-left" data-toggle="dropdown" value="Cancel" />
                                <input type="button" class="pm-addBut pull-right" data-toggle="dropdown" value="Apply" (click)="masterFilter()" />
                            </div>
                        </div>
                    </div>

                    <div class="dropdown pull-left pm-select-cont" style="margin-left:10px;">
                        <input class="filters dropdown-toggle" type="button" data-toggle="dropdown" (click)="restorePlannerList()" value={{plannerSFlabel}}
                        />
                        <button class="caretBut" data-toggle="dropdown"><span class="caret pointer" ></span></button>
                        <div class="dropdown-menu no-padding mulSel-dd">

                            <div class="input-group">
                                <input type="text" class="form-control search-box" placeholder="Search" [(ngModel)]="plannerFil">
                                <div class="input-group-btn">
                                    <button class="btn btn-default search-box" type="submit">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div style="padding:5px 0px">
                                <input class="pull-left pu-selAll" type="button" (click)="plannerCheckAllFun()" value="Select All" />
                                <input class="pull-right pu-selAll" type="button" (click)="plannerClearAllFun()" value="Clear All" />
                            </div>
                            <form style="padding:5px 0px">
                                <table class="ddTable">
                                    <tbody class="ddtbody">
                                        <tr *ngFor="let i=index;let item of allPlanners|filterC:plannerFil:'planner'" class="pointer">
                                            <td style="vertical-align:top"><input class="pull-left inpLI" type="checkbox" id="planner_{{i}}" name="planner_{{i}}"
                                                    value="" [(ngModel)]="item.isSelected" (change)="plannerCheckEvent($event.target.checked,item.planner)"
                                                /></td>
                                            <td class="full"><label class="lblLI" for="planner_{{i}}">{{item.planner}}</label></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>

                            <div class="div-center">
                                <input type="button" class="pm-addBut pm-whiteBut pull-left" data-toggle="dropdown" value="Cancel" />
                                <input type="button" data-toggle="dropdown" class="pm-addBut pull-right" value="Apply" (click)="masterFilter()" />
                            </div>
                        </div>
                    </div>



                    <div class="dropdown pull-left pm-select-cont" style="margin-left:10px;">
                        <input class="filters dropdown-toggle" type="button" data-toggle="dropdown" (click)="restoreStateList()" value={{stateSFlabel}}
                        />
                        <button class="caretBut" data-toggle="dropdown"><span class="caret pointer" ></span></button>
                        <div class="dropdown-menu no-padding mulSel-dd">
                            <div class="input-group">
                                <input type="text" class="form-control search-box" placeholder="Search" [(ngModel)]="stateFil">
                                <div class="input-group-btn">
                                    <button class="btn btn-default search-box" type="submit">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div style="padding:5px 0px">
                                <input class="pull-left pu-selAll" type="button" (click)="stateCheckAllFun()" value="Select All" />
                                <input class="pull-right pu-selAll" type="button" (click)="stateClearAllFun()" value="Clear All" />
                            </div>
                            <form style="padding:5px 0px">
                                <table class="ddTable">
                                    <tbody class="ddtbody">
                                        <tr *ngFor="let i=index;let item of allStates|filterC:stateFil:'stateCode'" class="pointer">
                                            <td style="vertical-align:top"><input class="pull-left inpLI" type="checkbox" id="state_{{i}}" name="state_{{i}}"
                                                    value="" [(ngModel)]="item.isSelected" (change)="stateCheckEvent($event.target.checked,item.stateCode)"
                                                /></td>
                                            <td class="full"><label class="lblLI" for="state_{{i}}">{{item.stateCode}}</label></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                            <div class="div-center">
                                <input type="button" class="pm-addBut pm-whiteBut pull-left" data-toggle="dropdown" value="Cancel" />
                                <input type="button" data-toggle="dropdown" class="pm-addBut pull-right" value="Apply" (click)="masterFilter()" />
                            </div>
                        </div>
                    </div>


                     <div class="dropdown pull-left pm-select-cont" style="margin-left:10px;width:auto;">
                        <input class="filters dropdown-toggle" type="button" data-toggle="dropdown" value={{selectedSR.lable}}/>
                        <button class="caretBut" data-toggle="dropdown"><span class="caret pointer" ></span></button>
                        <div class="dropdown-menu no-padding sel-dd">
                            <ul class="sel-dd-ul">
                                <li *ngFor="let item of sRList" (click)="selectSR(item)" class="pointer"><label class="lblLI">{{item.lable}}</label></li>
                            </ul>
                        </div>
                    </div>

                    <div class="dropdown pull-left pm-select-cont" style="margin-left:10px;width:auto;">
                        <input class="filters dropdown-toggle" type="button" data-toggle="dropdown" value={{selectedBrand.lable}}/>
                        <button class="caretBut" data-toggle="dropdown"><span class="caret pointer" ></span></button>
                        <div class="dropdown-menu no-padding sel-dd">
                            <ul class="sel-dd-ul">
                                <li *ngFor="let item of brandList" (click)="selectBrand(item)" class="pointer"><label class="lblLI">{{item.lable}}</label></li>
                            </ul>
                        </div>
                    </div>

                </div></div>
            </div>
            <div *ngIf="!showManageBox" class="col-md-12" style="padding:15px">
                <div style="background: white;">
                    <button *ngIf="!showManageBox" type="button" style="background:white;color:black;" class="pm-addBut pull-left"><h5 style="margin:0px;font-weight:bold">Pool List</h5></button>
                    
                    <button *ngIf="!showManageBox" style="margin-left:10px" type="button" class="pm-addBut pull-right" data-toggle="modal" data-target="#addModal" (click)="toAdd()">Add <span class="pull-right glyphicon glyphicon-plus pm-add-plus"></span></button>
                    <button *ngIf="!showManageBox" type="button" class="pm-addBut pull-right" (click)="managecsrPlanner()">Manage </button>
                    <!-- <button *ngIf="showManageBox" type="button" class="pm-addBut pull-right" (click)="backToPool()">Back to pool </button> -->
                </div>

            </div>
            
            <!-- add and edit csr and planner -->
            <div *ngIf="showManageBox" class="row" style="margin:0px">
                <div class="col-md-6">
                    <div class="col-md-12" style="padding:15px 0px 15px 0px">
                        <div style="background: white;">
                            <button type="button" style="background:white;color:black;" class="pm-addBut pull-left"><h5 style="margin:0px;font-weight:bold">CSR</h5></button>
                            <button  style="margin-left:10px" type="button" class="pm-addBut pull-right" data-toggle="modal" data-target="#addCSRModal" (click)="toAddCSR()">Add <span class="pull-right glyphicon glyphicon-plus pm-add-plus"></span></button>
                        </div>
                    </div>
                    <table class="app-table table-striped table-hover table-bordered1 table table-fixed">
                        <thead style="font-size: 12px">
                            <tr bgcolor="#f7f8fc" class="app-table-tr full">
                                <ng-container *ngFor="let con of csrTable.column">
                                    <th [ngStyle]="{'width':con.width}" style="text-align:center">
                                        {{con.name}}
                                    </th>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody *ngIf="allCsrResp && data.length!=0" style="font-size: 12px">
                            <ng-container *ngFor="let i=index;let item of allCsr">
                                <tr class="full">
                                    <td style="text-align:center;width:25%">
                                        <span>{{i+1}}</span>
                                    </td>
                                    <td style="text-align:center;width:25%">
                                        <span>{{item.csrCode}}</span>
                                    </td>
                                    <td style="text-align:center;width:25%">
                                        <span>{{item.csr}}</span>
                                    </td>
                                    <td style="text-align:center;width:25%">
                                        <button type="button" class="action" (click)="toEditCSR(item,i)"><img width="20px" src="../../assets/images/markers/edit.png" data-toggle="tooltip" title="Edit"/></button>
                                        <button class="action" (click)="getConfirmationToDeleteCP(item,'csr')"><img width="20px" src="../../assets/images/markers/delete.png" data-toggle="tooltip" title="Delete"/></button>
                                        <!-- <button class="action"><img width="20px" src="../../assets/images/markers/reposition.png" data-toggle="tooltip" title="Reposition"/></button> -->
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <div style="text-align:center;border:1px solid silver;padding:10px;border-top:none" *ngIf="allCsrResp && allCsr.length==0 ">No data found</div>
                    <div *ngIf="allCsrResp" style="padding-top: 10px;">{{allCsr.length}} record(s) found</div>
                
                    <div *ngIf="!allCsrResp" class="loader"><img src="../../assets/images/loader.gif" /></div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12" style="padding:15px 0px 15px 0px">
                        <div style="background: white;">
                            <button type="button" style="background:white;color:black;" class="pm-addBut pull-left"><h5 style="margin:0px;font-weight:bold">Planner</h5></button>
                            <button style="margin-left:10px" type="button" class="pm-addBut pull-right" data-toggle="modal" data-target="#addPlannerModal" (click)="toAddPlanner()">Add <span class="pull-right glyphicon glyphicon-plus pm-add-plus"></span></button>
                        </div>
                    </div>
                    <table class="app-table table-striped table-hover table-bordered1 table table-fixed">
                            <thead style="font-size: 12px">
                                <tr bgcolor="#f7f8fc" class="app-table-tr full">
                                    <ng-container *ngFor="let con of plannerTable.column">
                                        <th [ngStyle]="{'width':con.width}" style="text-align:center">
                                            {{con.name}}
                                        </th>
                                    </ng-container>
                                </tr>
                            </thead>
                            <tbody *ngIf="allPlannersResp && data.length!=0" style="font-size: 12px">
                                <ng-container *ngFor="let i=index;let item of allPlanners1">
                                    <tr class="full">
                                        <td style="text-align:center;width:25%">
                                            <span>{{i+1}}</span>
                                        </td>
                                        <td style="text-align:center;width:25%">
                                            <span>{{item.plannerCode}}</span>
                                        </td>
                                        <td style="text-align:center;width:25%">
                                            <span>{{item.planner}}</span>
                                        </td>
                                        <td style="text-align:center;width:25%">
                                            <button type="button" class="action" (click)="toEditPlanner(item,i)"><img width="20px" src="../../assets/images/markers/edit.png" data-toggle="tooltip" title="Edit"/></button>
                                            <button class="action" (click)="getConfirmationToDeleteCP(item,'planner')"><img width="20px" src="../../assets/images/markers/delete.png" data-toggle="tooltip" title="Delete"/></button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <div style="text-align:center;border:1px solid silver;padding:10px;border-top:none" *ngIf="allPlannersResp && allPlanners1.length==0 ">No data found</div>
                        <div *ngIf="allPlannersResp" style="padding-top: 10px;">{{allPlanners1.length}} record(s) found</div>
                        <div *ngIf="!allPlannersResp" class="loader"><img src="../../assets/images/loader.gif" /></div>
                    </div>
            </div>
            
            <!-- Pool table box -->
            <div *ngIf="!showManageBox" class="col-md-12">
                <table class="app-table table-striped table-hover table-bordered1 table table-fixed">
                    <thead style="font-size: 12px">
                        <tr bgcolor="#f7f8fc" class="app-table-tr full">
                            <ng-container *ngFor="let con of ob.column">
                                <th [ngStyle]="{'width':con.width}" style="text-align:center" *ngIf="con.name=='Variance'">
                                    {{con.name}}
                                    <span *ngIf="asc" class="caret pointer" (click)="sort('variance')"></span>
                                    <span *ngIf="!asc" class="caret caret-reversed pointer" (click)="sort('variance')"></span>
                                </th>
                                <th [ngStyle]="{'width':con.width}" style="text-align:center" *ngIf="con.name=='Trailer type'">
                                    {{con.name}}
                                    <span *ngIf="ttAsc" class="caret pointer" (click)="sortByTT('trailerType')"></span>
                                    <span *ngIf="!ttAsc" class="caret caret-reversed pointer" (click)="sortByTT('trailerType')"></span>
                                </th>
                                <th [ngStyle]="{'width':con.width}" style="text-align:center;" *ngIf="con.name!='Variance' && con.name!='Trailer type'">{{con.name}}</th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody *ngIf="poolRecieved && data.length!=0" style="font-size: 12px">
            
                        <ng-container *ngFor="let i=index;let item of data">
                            <tr class="full">
                                <td style="text-align:center;width:8%">
                                    <span>{{item.cityName}},{{item.stateCode}}</span>
                                </td>
                                <td style="text-align:center;width:11%">
                                    <span *ngIf="item.trailerType==1">Dry van</span>
                                    <span *ngIf="item.trailerType==2">Reefer</span>
                                    <span *ngIf="item.trailerType==3">Reefer, Dry van</span>
                                </td>
                                <td style="text-align:center;width:5%">
                                    <span>{{item.cmpID}}</span>
                                </td>
                                <td style="text-align:center;width:20%">
                                    <span>{{item.companyName}}</span>
                                </td>
                                <td style="text-align:center;width:10%">
                                    <span>{{item.csr}}</span>
                                </td>
                                <td style="text-align:center;width:10%">
                                    <span>{{item.planner}}</span>
                                </td>

                                <td style="text-align:center;width:8%">
                                    <span>{{item.reqPoolCount}}</span>
                                </td>

                                <td style="text-align:center;width:8%">
                                    <span>{{item.avaiPoolCount}}</span>
                                </td>
                                <td style="text-align:center;width:8%" [ngClass]="{'first': item.variance<0}">
                                    <span>{{item.variance}}</span>
                                </td>
                                <td style="text-align:center;width:12%">
                                    <button type="button" class="action" data-toggle="modal" data-target="#editModal" (click)="toEdit(item)"><img width="20px" src="../../assets/images/markers/edit.png" data-toggle="tooltip" title="Edit"/></button>
                                    <button class="action" (click)="getConfirmationToDelete(item)"><img width="20px" src="../../assets/images/markers/delete.png" data-toggle="tooltip" title="Delete"/></button>
                                    <!-- <button class="action"><img width="20px" src="../../assets/images/markers/reposition.png" data-toggle="tooltip" title="Reposition"/></button> -->
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <div style="text-align:center;border:1px solid silver;padding:10px;border-top:none" *ngIf="poolRecieved && data.length==0 ">No data found</div>
                <div *ngIf="poolRecieved" style="padding-top: 10px;">{{data.length}} record(s) found</div>
            
                <div *ngIf="!poolRecieved" class="loader"><img src="../../assets/images/loader.gif" /></div>

            </div>
            <!-- Add pool modal -->

            <div id="addModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content" style="border-radius:0px">
                        <div class="modal-header page-heading">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Pool</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal-div">
                                <div class="row pu-row">
                                    <div>
                                        <label>Customer Name <span class="first">*</span></label><br>
                                        <div id="cmpForAddPoolDD" class="dropdown pull-left pm-select-cont" style="border:1px solid silver;width:100%" [ngClass]="{'redAlert':isValidFields.isValidCompany}">

                                            <input class="filters dropdown-toggle" id="accFil" type="text"  style="width:90%" [(ngModel)]="accFil" (ngModelChange)="getAllCompanyForAddPool()"
                                                (click)="resetccFil()" placeholder="{{selectedCmpLbl}}"/>
                                            <button class="caretBut" disabled data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></button>

                                            <div class="dropdown-menu no-padding mulSel-dd" role="menu" aria-labelledby="menu1" style="width:100%">
                                                <!--<div class="input-group">
                                                    <input type="text" class="form-control search-box" placeholder="Search" [(ngModel)]="ccFil" (ngModelChange)="getAllCompanyForAddPool()">
                                                    <div class="input-group-btn">
                                                        <button class="btn btn-default search-box" type="submit">
                                                            <i class="glyphicon glyphicon-search"></i>
                                                        </button>
                                                    </div>
                                                </div>-->
                                                <ul *ngIf="poolForAddRecieved" class="mulSel-dd-ul">
                                                    <li *ngFor="let item of allCCForAdd|filterC:accFil:'cmpName'" (click)="selectCompany(item)"><label class="lblLI">{{item.cmpName}}-{{item.cmpID}}</label></li>
                                                </ul>
                                                <div *ngIf="!poolForAddRecieved" class="loader" style="border:none;"><img style="width: 34px;height: 34px;" src="../../assets/images/loader.gif" /></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row pu-row">
                                    <div class="col-md-6 orPad">
                                        <label>State: <span class="normalfnt">{{selectedCompany.cmpState}}</span></label><br />
                                        <!--<input class="no-padding col-md-12 no-border" readonly placeholder={{selectedCompany.cmpState}} type="text" />-->
                                    </div>
                                    <div class="col-md-6 olPad">
                                        <label>City: <span class="normalfnt">{{selectedCompany.cmpCity}}</span></label><br />
                                        <!--<input class="no-padding col-md-12 no-border" readonly placeholder={{selectedCompany.cmpCity}} type="text" />-->
                                    </div>
                                </div>
                                <div class="row pu-row">
                                    <div class="col-md-6 orPad">
                                        <label>CSR <span class="first"> *</span></label><br />
                                        <searchfilter [items]="allCsr" [required]="isValidFields.isValidCsr" [(selectedItem)]="selectedCsr" [key]="'csr'"></searchfilter>
                                    </div>
                                    <div class="col-md-6 olPad">
                                        <label>Planner <span class="first"> *</span></label><br />
                                        <searchfilter [items]="allPlanners" [required]="isValidFields.isValidPlanner" [(selectedItem)]="selectedPlanner" [key]="'planner'"></searchfilter>
                                    </div>
                                </div>
                                <div class="row pu-row">
                                    <div class="col-md-6 orPad">
                                        <label>Required <span class="normalfnt">(Numeric only)<span class="first"> *</span></span></label><br>
                                        
                                        <input class="no-padding col-md-12" [(ngModel)]="reqPoolQat" type="text" [ngClass]="{'redAlert':isValidFields.isValidReqPool }"
                                        />
                                    </div>
                                    <div class="col-md-6 olPad">
                                        <label>Company</label><br>
                                        <!--<select class="form-control addSelect col-mg-12" id="sel1" [(ngModel)]="poolToAdd.brand" [ngClass]="{'redAlert':isValidFields.isValidBrand }">
                                            <option class="lblLI" value="CVEN">Covenant</option>
                                            <option class="lblLI" value="SRT">SRT</option>
                                        </select>-->
                                        <label *ngIf="selectedCompany.cmpBrand=='CVEN'" class="no-padding col-md-12 no-border normalfnt"  style="padding-top:5px">Covenant</label>
                                        <label *ngIf="selectedCompany.cmpBrand!='CVEN'" class="no-padding col-md-12 no-border normalfnt"  style="padding-top:5px">{{selectedCompany.cmpBrand}}</label>
                                    </div>
                                </div>
                                <div class="row pu-row">
                                    <div class="col-md-6 orPad" [ngClass]="{'redAlert':isValidFields.isValidSR }" style="padding-left: 3px">
                                        <label>Shipper\Receiver <span class="first"> *</span></label><br>
                                        <label class="normalfnt"><input type="checkbox"  style="margin-right:5px;" [(ngModel)]="poolToAdd.isShipper" />Shipper</label>
                                        <label class="normalfnt" style="margin-left:15px;"><input type="checkbox" style="margin-right:5px;" [(ngModel)]="poolToAdd.isReceiver" />Receiver</label>
                                    </div>
                                    <!-- <div class="col-md-6 olPad" [ngClass]="{'redAlert':isValidFields.isValidTT }">
                                        <label>Trailer type <span class="first"> *</span></label><br>
                                        <label class="normalfnt"><input type="checkbox"  style="margin-right:5px;" [(ngModel)]="poolToAdd.isReef" />Reefer</label>
                                        <label class="normalfnt" style="margin-left:15px;"><input type="checkbox" style="margin-right:5px;" [(ngModel)]="poolToAdd.isDryvan" />Dryvan</label>
                                    </div> -->
                                    <div class="col-md-6 olPad" [ngClass]="{'redAlert':isValidFields.isValidTT }">
                                        <label>Trailer Type <span class="first"> *</span></label><br>
                                        <label class="normalfnt"><input type="checkbox"  style="margin-right:5px;" [(ngModel)]="poolToAdd.isReef" />Reefer</label>
                                        <label class="normalfnt" style="margin-left:15px;"><input type="checkbox" style="margin-right:5px;" [(ngModel)]="poolToAdd.isDryvan" />Dry van</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer page-footer">
                            <button type="button" class="pm-whiteBut" style="height:30px" (click)="cancelAdd()">Clear</button>
                            <button type="button" class="pm-addBut" (click)="add()">Save</button>
                        </div>
                    </div>

                </div>
            </div>

            <!--Edit pool modal -->
            <div id="editModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content" style="border-radius:0px">
                        <div class="modal-header page-heading">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Update Pool</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal-div">
                                <div>
                                    <label>Customer Name :</label>
                                    <label class="normalfnt">{{poolToEdit.companyName}}</label><br>
                                    <label>TMW :</label>
                                    <label class="normalfnt">{{poolToEdit.cmpID}}</label><br>
                                    <label>State :</label>
                                    <label class="normalfnt">{{poolToEdit.stateCode}}, </label>
                                    <label>City :</label>
                                    <label class="normalfnt">{{poolToEdit.cityName}}</label>
                                </div>
                                <div class="row pu-row">
                                    <div class="col-md-6 orPad">
                                        <label>CSR</label><br />
                                        <searchfilter [items]="allCsr" [(selectedItem)]="selectedCsr" [key]="'csr'"></searchfilter>
                                    </div>
                                    <div class="col-md-6 olPad">
                                        <label>Planner</label><br />
                                        <searchfilter [items]="allPlanners" [(selectedItem)]="selectedPlanner" [key]="'planner'"></searchfilter>
                                    </div>
                                </div>
                                <div class="row pu-row">

                                    <div class="col-md-6 orPad">
                                        <label>Required <span class="normalfnt">(Numeric only)</span><span class="first"> *</span></label><br>
                                        <input class="no-padding col-md-12" [(ngModel)]="updateReqPool" type="text" [ngClass]="{'redAlert':isValidFields.isValidReqPool }" />
                                    </div>
                                    <div class="col-md-6 olPad">
                                        <label>Company</label><br>
                                        <label *ngIf="poolToEdit.brand=='CVEN'" class="no-padding col-md-12 no-border normalfnt"  style="padding-top:5px">Covenant</label>
                                        <label *ngIf="poolToEdit.brand!='CVEN'" class="no-padding col-md-12 no-border normalfnt"  style="padding-top:5px">{{poolToEdit.brand}}</label>
                                    </div>
                                </div>
                                <div class="row pu-row">
                                    <div class="col-md-6 orPad" [ngClass]="{'redAlert':isValidFields.isValidSR }" style="padding-left: 3px">
                                        <label>Shipper\Receiver <span class="first"> *</span></label><br>
                                        <label class="normalfnt"><input type="checkbox"  style="margin-right:5px;" [(ngModel)]="poolToEdit.isShip" (change)="checkSRFun($event.target.checked)"/>Shipper</label>
                                        <label class="normalfnt" style="margin-left:15px;"><input type="checkbox" style="margin-right:5px;" [(ngModel)]="poolToEdit.isReciev" (click)="checkSRFun($event.target.checked)" />Receiver</label>
                                    </div>
                                    <div class="col-md-6 olPad" [ngClass]="{'redAlert':isValidFields.isValidTT }">
                                        <label>Trailer Type <span class="first"> *</span></label><br>
                                        <label class="normalfnt"><input type="checkbox"  style="margin-right:5px;" [(ngModel)]="poolToEdit.isReef" (change)="checkTTFun($event.target.checked)"/>Reefer</label>
                                        <label class="normalfnt" style="margin-left:15px;"><input type="checkbox" style="margin-right:5px;" [(ngModel)]="poolToEdit.isDryvan" (click)="checkTTFun($event.target.checked)" />Dry van</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer page-footer">
                            <!--<button type="button" style="height:30px" class="pm-whiteBut" (click)="cancelUpdatePool()" data-dismiss="modal">Cancel</button>-->
                            <button type="button" class="pm-addBut" (click)="updatePool()">Save</button>
                        </div>
                    </div>

                </div>
            </div>

            <!--delete Confirmation Modal-->
            <div class="modal fade" id="deleteConfirm" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header page-heading">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Delete Confirmation</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this pool?</p>
                        </div>
                        <div class="modal-footer page-footer">
                            <button type="button" class="pm-whiteBut" style="height:30px" data-dismiss="modal">Cancel</button>
                            <button type="button" class="pm-addBut" (click)="toDelete()" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--result modal-->
            <div class="modal fade" id="result" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header page-heading">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{action.heading}}</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{action.body}}</p>
                        </div>
                        <div class="modal-footer page-footer">
                            <button type="button" class="pm-addBut"  data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- addCsr  modal-->
            <div id="addCSRModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content" style="border-radius:0px">
                        <div class="modal-header page-heading">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add CSR</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal-div">
                                <div class="row pu-row">
                                    <div class="col-md-6 orPad">
                                        <label>CSR Code <span class="first"> *</span></label><br />
                                        <input type="text" [(ngModel)]="csrCrud.csrCode" value="{{csrCrud.csrCode}}" [ngClass]="{'redAlert':!isValidFields.isValidCSRCode }" placeholder="Max 20 char"/>
                                    </div>
                                    <div class="col-md-6 olPad">
                                        <label>CSR Name <span class="first"> *</span></label><br />
                                        <input type="text" [(ngModel)]="csrCrud.csr" value="{{csrCrud.csr}}" [ngClass]="{'redAlert':!isValidFields.isValidCSRName}" placeholder="Max 70 char"/>
                                    </div>
                                    <!-- <span class="note">Note: Maximum 70 charecters</span> -->
                                </div>
                                
                            </div>
                        </div>
                        <div class="modal-footer page-footer">
                            <button type="button" class="pm-whiteBut" style="height:30px" (click)="cancelAddCsr()">Clear</button>
                            <button type="button" class="pm-addBut" (click)="addCsr()">Save</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- add planner  modal-->
            <div id="addPlannerModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content" style="border-radius:0px">
                        <div class="modal-header page-heading">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Planner</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal-div">
                                <div class="row pu-row">
                                    <div class="col-md-6 orPad">
                                        <label>Planner Code <span class="first"> *</span></label><br />
                                        <input type="text" [(ngModel)]="plannerCrud.plannerCode" value="{{plannerCrud.plannerCode}}" [ngClass]="{'redAlert':!isValidFields.isValidPlannerCode }" placeholder="Max 20 char"/>
                                    </div>
                                    <div class="col-md-6 olPad">
                                        <label>Planner Name <span class="first"> *</span></label><br />
                                        <input type="text" [(ngModel)]="plannerCrud.planner" value="{{plannerCrud.planner}}" [ngClass]="{'redAlert':!isValidFields.isValidPlannerName }" placeholder="Max 70 char"/>
                                    </div>
                                </div>
                                
                                    <!-- <span class="note">Note: Maximum 70 charecters</span> -->
                                
                            </div>
                        </div>
                        <div class="modal-footer page-footer">
                            <button type="button" class="pm-whiteBut" style="height:30px" (click)="cancelAddPlanner()">Clear</button>
                            <button type="button" class="pm-addBut" (click)="addPlanner()">Save</button>
                        </div>
                    </div>

                </div>
            </div>


            <!-- edit csr modal -->
            <div id="editCSRModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content" style="border-radius:0px">
                        <div class="modal-header page-heading">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Update CSR</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal-div">
                                <div class="row pu-row">
                                    <div class="col-md-6 orPad">
                                        <label>CSR Code</label><br />
                                        <input type="text" [(ngModel)]="csrCrud.csrCode" value="{{csrCrud.csrCode}}" [ngClass]="{'redAlert':!isValidFields.isValidCSRCode }" placeholder="Max 20 char"/>
                                    </div>
                                    <div class="col-md-6 olPad">
                                        <label>CSR Name</label><br />
                                        <input type="text" [(ngModel)]="csrCrud.csr" value="{{csrCrud.csr}}" [ngClass]="{'redAlert':!isValidFields.isValidCSRName}" placeholder="Max 70 char"/>
                                    </div>
                                    <!-- <span class="note">Note: Maximum 70 charecters</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer page-footer">
                            <!--<button type="button" style="height:30px" class="pm-whiteBut" (click)="cancelUpdatePool()" data-dismiss="modal">Cancel</button>-->
                            <button type="button" class="pm-addBut" (click)="updateCsr()">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- edit planner modal -->
            <div id="editPlannerModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content" style="border-radius:0px">
                        <div class="modal-header page-heading">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Update Planner</h4>
                        </div>
                        <div class="modal-body">
                            <div class="modal-div">
                                <div class="row pu-row">
                                    <div class="col-md-6 orPad">
                                        <label>Planner Code</label><br />
                                        <input type="text" [(ngModel)]="plannerCrud.plannerCode" value="{{plannerCrud.plannerCode}}" [ngClass]="{'redAlert':!isValidFields.isValidPlannerCode }" placeholder="Max 20 char"/>
                                    </div>
                                    <div class="col-md-6 olPad">
                                        <label>Planner Name</label><br />
                                        <input type="text" [(ngModel)]="plannerCrud.planner" value="{{plannerCrud.planner}}" [ngClass]="{'redAlert':!isValidFields.isValidPlannerName }"  placeholder="Max 70 char"/>
                                    </div>
                                    <!-- <span class="note">Note: Maximum 70 charecters</span> -->
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer page-footer">
                            <!--<button type="button" style="height:30px" class="pm-whiteBut" (click)="cancelUpdatePool()" data-dismiss="modal">Cancel</button>-->
                            <button type="button" class="pm-addBut" (click)="updatePlanner()">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deleteConfirmCP" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header page-heading">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{action.heading}}</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{action.body}}</p>
                        </div>
                        <div class="modal-footer page-footer">
                            <button type="button" class="pm-whiteBut" style="height:30px" data-dismiss="modal">Cancel</button>
                            <button type="button" class="pm-addBut" (click)="toDeleteCP(action.heading)" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>