/*@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";*/
/*@import "../node_modules/font-awesome/css/font-awesome.css";*/

.ctg-textbox {
    border: none !important;
    padding: 10px;
    height:30px;
}

body {
    font-family: "Trebuchet MS" !important;
    background-color:#fafafa;
     margin-bottom: 40px;
}

.page-container {
    
    background-color: white;
}

.filter-container {
    background: #ededed;
    /*padding: 5px;*/
    height: 40px;
    position:relative;
}


.page-heading {
    height: 40px;
    background-color: #22466f;
    padding: 10px;
    color: #fff;
}

.container{
    width:100%;
}

input[type="button"] {

    outline: none;
}

input[type="text"] {
    height: 30px;
    padding: 5px !important;
    border: 1px solid silver;
    outline: none !important;
}

button{
    outline: none;
}

select {
    border: none;
}
.form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.modal-dialog{
    margin-top: 10%;
}

.no-border{
    border:none !important;
}
.no-padding{
    padding:0px;
}

/*remove google copywrites to be displayed on gmap --start*/
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    /*background:none !important;*/
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}
/*remove google copywrites to be displayed on gmap --end*/

.bordered{
border:1px solid silver;
}

.adp, .mydp, .mydp{
    border:none !important;
}

.adp, .mydp, .mydp, .selbtngroup, .selection {
    height:30px !important;
    border-radius: 0px !important;
}


.pointer{
    cursor: pointer;
}