<div class="row page-container" style="margin:0px">

    <div class="col-md-12 page-heading" style="position:relative">
        <b>Locate Trailer</b>
        <button *ngIf="mgToggleFlag" class="pull-right toggleBut" type="button" value="encode" (click)="toggleMG()"><img src="../../assets/images/markers/grid-view.png" /></button>
        <button *ngIf="!mgToggleFlag" class="pull-right toggleBut" type="button" value="encode" (click)="toggleMG()"><img src="../../assets/images/markers/map-view.png" /></button>
    </div><br />


    <div class="col-md-12 page-body">
        <div class="filter-container" (keyup.enter)="search()">
            <div style="padding:5px;" class="pull-left">
                <input [ngClass]="{'disabled': disableTS}" class="ctg-textbox pull-left" type="text" placeholder="Trailer ID" [(ngModel)]="searchID"
                    (ngModelChange)="toggleSearch(1)" (click)="disableTS=false" />
                <!--<button class="pull-left" type="button" (click)="searchByID()">search</button>-->
                <span class="pull-left" style="margin-left:15px;padding-top:5px">Or</span>
                <input [ngClass]="{'disabled': disableLoc}" class="ctg-textbox pull-left" type="text" placeholder="By location" id="ctgGeoCode"
                    (ngModelChange)="toggleSearch(2)" [(ngModel)]="bylocation" style="margin-left:10px;width:230px"
                    value="bylocation" (click)="disableLoc=false" />
                <!--<button class="pull-left" type="button" (click)="getvalue();">code</button>-->



                <div [ngClass]="{'disabled': disableLoc}" (click)="disableLoc=false" class="dropdown pull-left pm-select-cont" style="margin-left:10px;"
                    *ngIf="!mgToggleFlag">
                    <input class="filters dropdown-toggle" type="button" data-toggle="dropdown" value={{selectedMiles.lable}} (click)="disableLoc=false"
                    />
                    <span class="caret"></span>
                    <div class="dropdown-menu no-padding sel-dd">

                        <ul class="sel-dd-ul">
                            <li *ngFor="let item of milesList" (click)="selectMiles(item);toggleSearch(2)" style="cursor: pointer">
                                {{item.lable}}
                            </li>
                        </ul>
                    </div>
                </div>
                <span class="pull-left" style="margin-left:15px;padding-top:5px" *ngIf="!mgToggleFlag">Or</span>
                <div [ngClass]="{'disabled': disableStatus}" (ngModelChange)="toggleSearch(3)" (click)="disableStatus=false" class="dropdown pull-left pm-select-cont"
                    style="margin-left:10px;" *ngIf="!mgToggleFlag">
                    <input class="filters dropdown-toggle" type="button" data-toggle="dropdown" value={{selectedTrStatus.status}} />
                    <span class="caret"></span>
                    <div class="dropdown-menu no-padding sel-dd">

                        <ul class="sel-dd-ul">
                            <li *ngFor="let item of trStatusList" (click)="selectTrStatus(item);toggleSearch(3)" style="cursor: pointer">
                                {{item.status}}
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="pull-left pm-addBut" type="button" style="margin-left:15px" (click)="search()">Search</button>
                <!--<button class="pull-right resetBut" type="button" value="encode" (click)="f.geocodeAddress()"><img src="../../assets/images/markers/refresh.png" /></button>-->
            </div>
            <button class="pull-right resetBut" type="button" value="encode" (click)="reset()" data-toggle="tooltip" title="Reset"><img src="../../assets/images/markers/refresh.png" /></button>
        </div>
        <div style="padding-top:15px;">
            <!--<gmaps></gmaps>-->
            <div  *ngIf="mgToggleFlag">
                <!--{{selectedMarker.trailerID}}-->
                <div [ngClass]="{'transparent': !trailerStatusResp}">
                <gmtest   [trailers]="allTrailers" [(item)]="searchID" [(loc)]="bylocation"></gmtest>
                </div>
                <!--<gmaptest *ngIf="trailerStatusResp" [trailers]="allTrailers" [(item)]="item" (itemChange)="showHistory(item)" ></gmaptest>-->
                <!--<gmapjs *ngIf="trailerStatusResp" #f [state]="selectedState" [trailerList]="allTrailers" [(selectedMarker)]="selectedMarker"
                    (selectedMarkerChange)="markerClicked()"></gmapjs>-->

                <div  *ngIf="!trailerStatusResp" class="loader" ><img src="../../assets/images/loader.gif" /></div>
            </div>

            <div *ngIf="!mgToggleFlag">
                <table class="app-table table-striped table-hover table-bordered1 table table-fixed">
                    <thead style="font-size: 12px">
                        <tr bgcolor="#f7f8fc" class="app-table-tr full">
                            <ng-container *ngFor="let con of ob.column">
                                <th [ngStyle]="{'width':con.width}" style="text-align:center;">{{con.name}}</th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody id="tgBody" *ngIf="trailerStatusResp && allTraillerSubSet.length!=0 " style="font-size: 12px;border: 1px solid silver;border-top: none;" (scroll)="tableScrolled(this)">
                        <ng-container *ngFor="let i=index;let item of allTraillerSubSet">
                            <tr class="full" *ngIf="i<gRowCount">
                                
                                <td style="text-align:center;width:8%">
                                    <span>{{item.trailerID}}</span>
                                </td>
                                <td style="text-align:center;width:7%">
                                    <span>{{item.trailerName}}</span>
                                </td>
                                <td style="text-align:center;width:7%">
                                    <span>{{item.trailerType}}</span>
                                </td>
                                <td style="text-align:center;width:9%">
                                    <span>{{item.location}}</span>
                                </td>
                                <td style="text-align:center;width:8%">
                                    <span>{{item.distance}}</span>
                                </td>
                                <td style="text-align:center;width:8%">
                                    <span>{{item.trailerStatus}}</span>
                                </td>
                                <td style="text-align:center;width:9%">
                                    <span>TBC</span>
                                </td>

                                <td style="text-align:center;width:9%">
                                    <span>TBC</span>
                                </td>

                                <td style="text-align:center;width:9%">
                                    <span>TBC</span>
                                </td>
                                <td style="text-align:center;width:9%">
                                    <span>{{item.iotInfo}}</span>
                                </td>
                                <td style="text-align:center;width:9%">
                                    <span>{{item.dotDate}}</span>
                                </td>
                                <td style="text-align:center;width:8%"><a (click)="showHistory(item)" style="cursor: pointer">History</a></td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <div style="text-align:center;border:1px solid silver;padding:10px;border-top:none" *ngIf="trailerStatusResp && allTraillerSubSet.length==0 ">No data found</div>
                <!--<div *ngIf="trailerStatusResp" style="padding-top: 10px;">1 - {{gRowCount}} out of {{allTraillerSubSet.length}} record(s) found</div>-->
                <div *ngIf="trailerStatusResp" style="padding-top: 10px;">{{allTraillerSubSet.length}} record(s) found</div>
                <div *ngIf="!trailerStatusResp" class="histLoader"><img src="../../assets/images/loader.gif" /></div>
            </div>
        </div>
        <div style="padding-top:5px">
            <img src="../../assets/images/markers/legend.png" class="pull-right" />
        </div>
    </div>

    <div id="historyModal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="margin-top: 1%">

            <!-- Modal content-->
            <div class="modal-content" style="border-radius:0px">
                <div class="modal-header page-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Trailer #: {{selectedMarker.trailerID}} </h4>
                </div>
                <div class="modal-body" style="padding: 5px 15px 15px 15px;">
                    <div class="modal-div" style="font-size:12px">
                        <div style="border-bottom: 1px solid silver;padding-bottom: 5px;" class="col-lg-12 no-padding">
                            <div class="col-lg-6 no-padding">
                                <span style="font-size:14px"><b>{{selectedMarker.trailerName}}</b></span><br>
                                <span style="font-size:12px">{{selectedMarker.trailerType}}</span>
                            </div>
                            <div class="col-lg-6 no-padding" style="padding-top: 8px;" [ngSwitch]="selectedMarker.trailerStatus">
                                <span *ngSwitchCase="'PLN'" class="pull-right" style="font-size:16px;color:#158cff"><b>PLANNED</b></span>
                                <span *ngSwitchCase="'AVL'" class="pull-right" style="font-size:16px;color:#15c922"><b>AVAILABLE</b></span>
                                <span *ngSwitchDefault class="pull-right" style="font-size:16px;color:#fb3447"><b>CONFIRMED</b></span>
                            </div>
                        </div>
                        <div class="col-lg-12 no-padding" style="padding-top:15px">
                            <div class="col-lg-6 no-padding">
                                <p>
                                    <span><b>Location: </b></span><br>
                                    <span>{{selectedMarker.location}}.</span><br><br>
                                    <span><b>Landmark: </b></span><br>
                                    <span>{{selectedMarker.landmark}}.</span><br><br>
                                    <span><b>Latitude: </b></span>
                                    <span>{{selectedMarker.latitude}}</span><br>
                                    <span><b>Longitude: </b></span>
                                    <span>{{selectedMarker.longitude}}</span><br>
                                </p>
                            </div>
                            <div class="col-lg-6" style="border-left: 1px solid silver;">
                                <p>
                                    <span><b>DOT Date: </b></span>
                                    <span>TBC</span><br><br>
                                    <span><b>Last Movement Date: </b></span><br>
                                    <span>{{selectedMarker.lastMovementDate}}.</span><br><br>
                                    <span><b>Idle Duration: </b></span>
                                    <span>{{selectedMarker.idleDuration}}</span><br><br>
                                    <span><b>Compliance: </b></span>
                                    <span>TBC</span><br>
                                    <span><b>IOT Info: </b></span>
                                    <span>{{selectedMarker.iotInfo}}</span><br>
                                    <span><b>Road Worthiness: </b></span>
                                    <span>TBC</span><br>
                                </p>
                            </div>
                        </div>
                        <div>
                            <label>History:</label>
                            <br>
                            <table class="app-table table-striped table-hover table-bordered1 table table-fixed">
                                <thead>
                                    <tr bgcolor="#f7f8fc" class="app-table-tr full">
                                        <ng-container *ngFor="let con of history.column">
                                            <th [ngStyle]="{'width':con.width}" style="text-align:center;">{{con.name}}</th>
                                        </ng-container>
                                    </tr>
                                </thead>
                                <tbody *ngIf="historyRecv && history.groups.length!=0 " style="max-height:140px">
                                    <ng-container *ngFor="let i=index;let item of history.groups">
                                        <tr class="full">
                                            <td style="text-align:center;width:25%">
                                                <span>{{item.orderDate}}</span>
                                            </td>
                                            <td style="text-align:center;width:25%">
                                                <span>{{item.orderNo}}</span>
                                            </td>
                                            <td style="text-align:center;width:25%">
                                                <span>{{item.startCity}}</span>
                                            </td>
                                            <td style="text-align:center;width:25%">
                                                <span>{{item.destinationCity}}</span>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                            <div style="text-align:center;border:1px solid silver;padding:10px;border-top:none" *ngIf="historyRecv && history.groups.length==0 ">No data found</div>
                            <div *ngIf="historyRecv" style="padding-top: 10px;">{{history.groups.length}} record(s) found</div>
                            <div *ngIf="!historyRecv" class="histLoader"><img src="../../assets/images/loader.gif" /></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="result" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header page-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{action.heading}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{action.body}}</p>
                </div>
                <div class="modal-footer page-footer">
                    <button type="button" class="pm-addBut" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>


</div>