h1 {
    font-size: 300%;
    color: #34495e;
}

.page-container {
    box-shadow: 1px 2px 5px grey;
    border: 1px solid silver;
}

.page-body {
    padding: 0px 20px 20px 20px;
    margin-top: 10px;
}

.pm-select-cont {
    background-color: white;
    padding-right: 4px;
}

.mulSel-dd {
    width: 198px;
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px 10px 10px 10px;
}

.mulSel-dd-ul {
    padding: 5px 0px 5px 0px;
    list-style: none;
    margin-bottom: 0px;
    height: 129px;
    overflow-y: scroll;
    margin: 5px 0px 5px 0px;
}

.search-box {
    height: 30px;
    border-radius: 0px;
}

.filters {
    background-color: white;
    padding: 5px;
    width: 140px;
    text-align: left;
    border: none;
}

.close{
    opacity:1;
    color:white;
}

.normalfnt{
    font-weight:normal;
}

.resetBut {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 9px;
    border: none;
    background-color: #d3d3d3;
}

.toggleBut {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 9px;
    border: none;
    background-color: #062a53;
}

.app-table {
    width: 100%;
    margin-bottom: 0px;
}

    .app-table thead tr {
        background-color: #22466f;
        color: #fff;
    }

.app-table-tr {
    padding: 15px 0px 15px 0px;
}

.app-table tr {
    padding: 0px;
}
.loader {
    text-align: center;
    padding: 20px;
    border: 1px solid silver;
    border-top: none
}