<div>

  <div class="row">
    <div class="col-md-6" style="height:400px;">
      <div style="border:1px solid silver;height:400px;">
        <div *ngIf="OrderStatsResp">
          <div class="col-md-7">
            <div style="text-align: left;padding-top: 10px;">
              <label style="font-size: 25px;font-weight: normal;">Shed status - {{(tDate.getMonth() + 1) + '/' + tDate.getDate() + '/' + tDate.getFullYear()}}</label>
            </div>
            <div>
              <nvd3 [options]="plnVsActoptions" [data]="plnVsActdata"></nvd3>
            </div>
          </div>
          <div class="col-md-5" style="padding-top:0px;">
            <table class="table table-striped">
              <tr *ngFor="let i=index;let item of plnVsActdata" style="padding-bottom: 20px;cursor: pointer" (click)="getGridData(item)">
                <td>
                  <span class="lBox pull-left" [ngStyle]="{'background': nvd3Colors[i]}"></span>
                </td>
                <td>
                  <span class="pull-left">{{item.label}}</span>
                  <br>
                  <span style="font-size:19px">{{item.value}}</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="lBox pull-left" style="background: white"></span>
                </td>
                <td>
                  <span class="pull-left">Total</span>
                  <br>
                  <span style="font-size:19px">{{lotSize}}</span>
                </td>
              </tr>
            </table>
          </div>
          <!-- <nvd3 [options]="plnVsActoptions" [data]="plnVsActdata"></nvd3> -->
          <!-- <nvd3 [options]="pieOption" [data]="plnVsActdata"></nvd3> -->
        </div>
        <div *ngIf="!OrderStatsResp" class="histLoader">
          <img src="../../assets/images/loader.gif" />
        </div>
      </div>
    </div>

    <div class="col-md-6" style="height:400px;">
      <div style="border:1px solid silver;height:400px;">
        <div *ngIf="FutureAVLOrdersResp" style="text-align: left;padding-top: 15px;padding-left: 15px;">
          <label style="font-size: 25px;font-weight: normal;">DOT due - 7 days view</label>
        </div>
        <div *ngIf="FutureAVLOrdersResp" style="padding:10px">
          <nvd3 [options]="futAvlOptions" [data]="futAvlData"></nvd3>
        </div>
        <div *ngIf="!FutureAVLOrdersResp" class="histLoader">
          <img src="../../assets/images/loader.gif" />
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <!-- <span><a (click)="showTrHistory(item)">Show</a></span> -->

  <label *ngIf="toShowFutAvlTable||toShowPlnVsActNAPTable||toShowPlnVsActTable">{{selectedLable}}</label>
  <div *ngIf="toShowFutAvlTable" style="margin-top:20px">
    <table class="app-table table-striped table-hover table-bordered1 table table-fixed">
      <thead style="font-size: 12px">
        <tr bgcolor="#f7f8fc" class="app-table-tr full">
          <ng-container *ngFor="let con of orders.column">
            <th [ngStyle]="{'width':con.width}" style="text-align:center;">{{con.name}}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody id="tgBody" *ngIf="allTrailer.length!=0 " style="font-size: 12px;border: 1px solid silver;border-top: none;" (scroll)="tableScrolled(this)">
        <ng-container *ngFor="let i=index;let item of allTrailer">
          <tr class="full" *ngIf="i<gRowCount">

            <td style="text-align:center;width:10%">
              <!-- <span>{{item.orderNumber}}-{{item.orderCompany}}-{{item.orderStatus}}</span> -->
              <span>{{item.trailerID}}</span>
            </td>

            <td style="text-align:center;width:10%">
              <span>{{item.trailerName}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.trailerType}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.trailerYear}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.trailerStatus}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.company}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.location}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{formatDateTime(item.lastPingDate)}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{formatDateTime(item.lastDOTInspectionDone)}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{formatDateTime(item.nextDOTInspectionDue)}}</span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div style="text-align:center;border:1px solid silver;padding:10px;border-top:none" *ngIf="allTrailer.length==0 ">No data found</div>
    <!--<div *ngIf="trailerStatusResp" style="padding-top: 10px;">1 - {{gRowCount}} out of {{allTrailer.length}} record(s) found</div>-->
    <div style="padding-top: 10px;">{{allTrailer.length}} record(s) found</div>
  </div>

  <div *ngIf="toShowPlnVsActNAPTable" style="margin-top:20px">
    <table class="app-table table-striped table-hover table-bordered1 table table-fixed">
      <thead style="font-size: 12px">
        <tr bgcolor="#f7f8fc" class="app-table-tr full">
          <ng-container *ngFor="let con of plnVsActGrid.column">
            <th [ngStyle]="{'width':con.width}" style="text-align:center;">{{con.name}}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody id="tgBody" *ngIf="allTrailer.length!=0 " style="font-size: 12px;border: 1px solid silver;border-top: none;" (scroll)="tableScrolled(this)">
        <ng-container *ngFor="let i=index;let item of allTrailer">
          <tr class="full" *ngIf="i<gRowCount">
            <td style="text-align:center;width:10%">
              <!-- <span>{{item.orderNumber}}-{{item.orderCompany}}-{{item.orderStatus}}</span> -->
              <span>{{item.trailerID}}</span>
            </td>

            <td style="text-align:center;width:10%">
              <span>{{item.trailerName}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.trailerType}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.trailerYear}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.trailerStatus}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.company}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.location}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{item.shedStatus}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span>{{formatDateTime(item.lastPingDate)}}</span>
            </td>
            <td style="text-align:center;width:10%">
              <span *ngIf="selectedCat=='OPEN' || selectedCat=='PENDING'">{{item.dateOpened}}</span>
              <span *ngIf="selectedCat=='CLOSED'">{{item.dateClosed}}</span>
              <span *ngIf="selectedCat=='COMPLETE'">{{item.dateComplete}}</span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div style="text-align:center;border:1px solid silver;padding:10px;border-top:none" *ngIf="allTrailer.length==0 ">No data found</div>
    <!--<div *ngIf="trailerStatusResp" style="padding-top: 10px;">1 - {{gRowCount}} out of {{allTrailer.length}} record(s) found</div>-->
    <div style="padding-top: 10px;">{{allTrailer.length}} record(s) found</div>
  </div>
</div>