<div class="row" style="margin-top:20px">
  <div class="col-lg-3 col-xs-6 ">
    <!-- small box -->
    <div class="small-box b1">
      <div class="inner">
        <!-- <h3 *ngIf="trailers.length>0">{{this.byCmpTotal.gTot}}</h3> -->
        <h3>8</h3>
        <p>DOT Due - 7 days</p>
      </div>
      <div class="icon">
        <!-- <img width="100" src="../../assets/images/dash/GrandTotal.png" /> -->
      </div>

    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6 ">
    <!-- small box -->
    <div class="small-box b2">
      <div class="inner">
        <!-- <h3 *ngIf="trailers.length>0">{{this.byCmpTotal.cven}}</h3> -->
        <h3>465</h3>
        <p>Trailes in shed</p>
      </div>
      <div class="icon">
        <!-- <img width="100" src="../../assets/images/dash/CVEN.png" /> -->
      </div>

    </div>
  </div>
  <!-- ./col -->
  
  <!-- ./col -->
</div>
