h1 {
    font-size: 300%;
    color: #34495e;
}
.pm-select-cont {
    background-color: white;
    /*padding-right: 4px;*/
}
.filters {
    background-color: white;
    padding: 5px;
    width: 180px;
    text-align: left;
    border: none;
}
.search-box {
    height: 30px;
    border-radius: 0px;
}

.mulSel-dd {
    width: 198px;
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px 10px 10px 10px;
}

.mulSel-dd-ul {
    padding: 5px 0px 5px 0px;
    list-style: none;
    margin-bottom: 0px;
    height: 129px;
    overflow-y: scroll;
    margin: 5px 0px 5px 0px;
}
.mulSel-dd-ul li:hover {
    background-color: #ededed;
}

.lblLI {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    margin: 2px; cursor: pointer;
}
.pointer{
    cursor: pointer;
}

.caretBut{
    border:none;
    background-color: white;
}
.redAlert{
    box-shadow: 0 0 5px red !important;
}

.close{
    opacity:1;
    color:white;
}

.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  max-height: 500px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: inline-block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.table-fixed tbody{
    border:1px solid silver;
  border-top:none;
}

.full{
    width:100%
}

.app-table {
    width: 100%;
    margin-bottom: 0px;
}

    .app-table thead tr {
        background-color: #22466f;
        color: #fff;
    }

.app-table-tr {
    padding: 15px 0px 15px 0px;
}

.app-table tr {
    padding: 0px;
}
.loader {
    text-align: center;
    padding: 20px;
    border: 1px solid silver;
    border-top: none
}

.modal-dialog{
    margin-top: 5%;
}

.pm-addBut {
    border: none;
    background: #d2232a;
    color: white;
    height: 30px;
}

.resetMap{
    position: absolute;
    right: 14px;
    top:60px;
    border: none;
    background-color: white;
    padding: 0px;
}

.info{
    position: absolute;
    right: 14px;
    top:110px;
    border: none;
    background-color: white;
    padding: 0px;
}